<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


    <!-- This file is for the ajax call to the backend api and verify if the user was successfully registered or not -->
 <script type="text/javascript" 
 src="{{ url_for('static', filename='js_scripts/login/loginFormSubmitAjax.js') }}"></script>
 
    <!-- This file is for validating the user input in user registration form -->
  <script type="text/javascript" 
 src="{{ url_for('static', filename='js_scripts/login/loginFormValidation.js') }}"></script>
 
 <script type="text/javascript">
    var csrf_token_global = "{{ csrf_token() }}";
    console.log("CSRF TOKEN :"+ csrf_token_global);
    var x = document.cookie;
    console.log("All Cookies :"+ x);
    
    $(document).ready(function(){
        $(' .close').click(function(e){
            $(this).closest('.flash-message').remove();
        });
    });
    
    
</script>
 
<!-- Latest compiled JavaScript -->

</head>
<body>

	<div class="container">
<br>
		<h1 class="text-center text-success"> Login </h1><br>
		
		<div class="container" style="min-height:100% width:80%">
            	{% with messages = get_flashed_messages() %}
            	  {% if messages %}
            	    {% for message in messages %}
            	    <div class="flash-message">
            		  <div class="alert alert-warning alert-dismissible" role="alert">
            		  <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
            			{{message}}  
            		  </div>
        		   </div>
            		{% endfor %}
            	  {% endif %}
            	{% endwith %}
    	</div>
		
		<div class=" col-lg-8 m-auto d-block">
			
			<form class="bg-light" action="/register/" method="post" onsubmit=" return loginFormValidation()">
				
				<div class="form-group">
					<label> Username: </label>
					<input type="text" name="user" id="username_inp" class="form-control" autocomplete="off">
					<span id="username_error" class="text-danger font-weight-bold"> </span>
				</div>

				<div class="form-group">
					<label> Password: </label>
					<input type="password" name="user" id="password_inp" class="form-control" autocomplete="off">
					<span id="password_error" class="text-danger font-weight-bold"> </span>
				</div>
				
					<div class="form-group">
					<span id="error_from_server" class="text-danger font-weight-bold"> </span>
					<span id="success_from_server" class="text-success font-weight-bold"> </span>
				</div>

				<input type="submit" name="submit" value="Submit" class="btn btn-success">

			</form>

        <p> {{message}} </p>

		</div>
	</div>


</body>
</html>