<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


    <!-- This file is for the ajax call to the backend api and verify if the user was successfully registered or not -->
 <script type="text/javascript" 
 src="{{ url_for('static', filename='js_scripts/poem/addNewPoemSubmitAjax.js') }}"></script>
 
    <!-- This file is for validating the user input in user registration form -->
  <script type="text/javascript" 
 src="{{ url_for('static', filename='js_scripts/poem/addNewPoemValidation.js') }}"></script>
 <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
 <link href='https://fonts.googleapis.com/css?family=Baloo:400,700' rel='stylesheet' type='text/css'>
 
 <script type="text/javascript">
    var csrf_token_global = "{{ csrf_token() }}";
    console.log("CSRF TOKEN :"+ csrf_token_global);
    var x = document.cookie;
    console.log("All Cookies :"+ x);
    
    $(document).ready(function(){
        $(' .close').click(function(e){
            $(this).closest('.flash-message').remove();
        });
         
        $.ajax({
            type        : 'GET', // define the type of HTTP verb we want to use (POST for our form)
            url         : '/api/poemslist/', // the url where we want to POST
            contentType : 'application/json',
            dataType    : 'json', // what type of data do we expect back from the server
            encode      :  true,
        }).done(function(data) 
            {
        
                console.log("Response from server  :"+data);
                console.log("Poem List  :"+data.PoemList);      
                
                if(data.result == 1 && data.PoemCount > 0)
              {  
                var htmlElements = "";
                for(i=0; i< data.PoemList.length; i=i+2){
                    console.log("Poem:"+(i+1)+", Content: "+data.PoemList[i].Content);
                    
                    if( i+1 < data.PoemList.length)
                    {
                        //means 2 parallel poem cards can be added
                        htmlElements += 
    
                          "<div class='row' style='align:center;float:center'>"+
                          
                              "<div class='col-xs-5 col-sm-5 col-md-5 poem-card' id='poem-card'>"+
                        	
                                      "<div class='row poem-card-header'>"+
                                    	"<div class='col-xs-7 col-sm-7 col-md-7 poem-title'>"+data.PoemList[i].Title+"</div>"+
                                    	"<div class='col-xs-5 col-sm-5 col-md-5 poem-date-time'>"+data.PoemList[i].Date+"</div>"+
                                    	
                                    	"</div>"+
                                	
                                    	"<div class='row poem-card-header'>"+
                                    	"<div class='col-xs-7 col-sm-7 col-md-7 poem-tags'>("+data.PoemList[i].Tags+")</div>"+
                                    	"<div class='col-xs-5 col-sm-5 col-md-5 poem-date-time'>"+data.PoemList[i].Time+"</div>"+
                                    	
                                    	"</div>"+
                                	
                                	
                                      "<div class='row poem-card-content'>"+
                                           "<p class='poem-content'>"+data.PoemList[i].Content+"</p>"+
                                           "<p class='poem-id'>"+data.PoemList[i].Id+"</p>"+
                                      "</div>"+
        
                        	          "</div>"+
                        	
                              "<div class='col-xs-1 col-sm-1 col-md-1'>"+
                              "</div>"+
                        	
                    	       "<div class='col-xs-5 col-sm-5 col-md-5 poem-card'>"+
                        	
                                	"<div class='row poem-card-header'>"+
                                    	"<div class='col-xs-7 col-sm-7 col-md-7 poem-title'>"+data.PoemList[i+1].Title+"</div>"+
                                    	"<div class='col-xs-5 col-sm-5 col-md-5 poem-date-time'>"+data.PoemList[i+1].Date+"</div>"+
                                    	
                                	"</div>"+
                                	
                                	"<div class='row poem-card-header'>"+
                                    	"<div class='col-xs-7 col-sm-7 col-md-7 poem-tags'>("+data.PoemList[i+1].Tags+")</div>"+
                                    	"<div class='col-xs-5 col-sm-5 col-md-5 poem-date-time'>"+data.PoemList[i+1].Time+"</div>"+
                                    	
                                    	"</div>"+
                                	
                                	"<div class='row poem-card-content'>"+
                                    	"<p class='poem-content'>"+data.PoemList[i+1].Content+"</p>"+
                                    	"<p class='poem-id'>"+data.PoemList[i+1].Id+"</p>"+
                                	"</div>"+

                               "</div>"+
    	
                          "</div>"
                    }
                    else
                    {
                        //means only 1 poem card can be added
                        htmlElements +=
                        
                        "<div class='container poem-card' style='min-height:100%;width:50%;align:center;float:center;margin-bottom:40px;'>"+
                        	
                                	"<div class='row poem-card-header'>"+
                                    	"<div class='col-xs-7 col-sm-7 col-md-7 poem-title'>"+data.PoemList[i].Title+"</div>"+
                                    	"<div class='col-xs-5 col-sm-5 col-md-5 poem-date-time'>"+data.PoemList[i].Date+"</div>"+
                                    	
                                	"</div>"+
                                	"<div class='row poem-card-header'>"+
                                    	"<div class='col-xs-7 col-sm-7 col-md-7 poem-tags'>("+data.PoemList[i].Tags+")</div>"+
                                    	"<div class='col-xs-5 col-sm-5 col-md-5 poem-date-time'>"+data.PoemList[i].Time+"</div>"+
                                    	
                                    	"</div>"+
                                	
                                	"<div class='row poem-card-content'>"+
                                    	"<p class='poem-content'>"+data.PoemList[i].Content+"</p>"+
                                    	"<p class='poem-id'>"+data.PoemList[i].Id+"</p>"+
                                	"</div>"+

                        "</div>"
                        
                    }
                    
                }
                var poemListContainer = document.getElementById("poemListContainer");
                poemListContainer.innerHTML = htmlElements; 
                                     
                //code for clicking and launching new tab containing poem detail
                //this can only be set after all the poems are fetched from api and cards are added to HTML page
                $(".poem-card").click(function(){
                            console.log("poem card clicked !");
                            var poem_id = $(this).children('.poem-card-content').children('.poem-id').text();
                            //alert(poem_id);
                            window.location = "/poetry/id/"+poem_id+"/" ;
                });              
                        
               }
               else
               {
                  //else condition, when there are no poems to display
                   var htmlElements = "";
                   htmlElements +=
                        
                        "<div class='container poem-card' style='min-height:100%;width:80%;align:center;float:center;margin-bottom:40px;'>"+
                              	
                                	"<div class='row poem-card-content'>"+
                                    	"<p class='poem-content' style='background-color:#212529, color:white;font-size:40px;'> No poems to display :(</p>"+
                                	"</div>"+

                        "</div>"
                        
                    var poemListContainer = document.getElementById("poemListContainer");
                    poemListContainer.innerHTML = htmlElements; 
               }         
                             
            });
            
        });
    
</script>
<script>
    
    function searchPoem()
    {
        var tagsSearchInput = document.getElementById("tagsSearchInput");
        filter = tagsSearchInput.value.toUpperCase();
        
        //firstly get all cards list, then search for the tagsField in it and try to match
        var poemCardsList = document.getElementsByClassName("poem-card");
        for(var i =0; i < poemCardsList.length; i++)
        {
            var poemTagField = poemCardsList[i].getElementsByClassName("poem-tags")[0];
            if (poemTagField.innerHTML.toUpperCase().indexOf(filter) > -1) {
                poemCardsList[i].style.display = "";
              } else {
                poemCardsList[i].style.display = "none";
              }
        }
        
    }

</script>

<style>

    .poem-card{
        border-style: solid;
        border-width: 1px;
        border-color: #212529;
        border-radius: 3px;
        box-shadow: 5px 8px #888888;
        margin-top : 10px;
        margin-bottom : 10px;
        background-color: white;
        cursor: pointer;
    }
    
    .poem-card:hover{
        background-color: #FFC107;
    }

    .poem-card-header{
        background-color : #212529;
        color : white;
        padding-top : 10px;
        font-family: Nunito;
        font-weight: bold;
    }
    
    .poem-card-content{
        color : #212529;
        font-family: Nunito;
        padding : 20px;
        overflow: hidden;
        line-height: 1.5em;
        max-height:19.2em;
    }
    
    .poem-heading{
         color:#FFC107;
         background-color:#212529;
         padding:10px;
         width:100%;
         height:100%;
         margin:auto;
         font-family: Baloo;
         border-radius: 5px;
         border-style: solid;
         border-width: 3px;
         border-color: #212529;
         font-size:40px;
    }
    
    .poem-title{
        color:#FFC107;
        font-size:22px;
        font-family : Nunito;
    }
    
    .poem-date-time{
        padding-top:2px;
        font-size:14px;
        text-align:right;
    }
    
     .poem-tags{
        padding-top:2px;
        padding-bottom:10px;
        font-size:14px;
        text-align:left;
    }
    
    .poem-content{
        white-space: pre-line;
        margin:auto;
    }
    
    .poem-id{
        display:none;
    }

</style>

</head>
<body>

	<div class="container">
        
        
		<br>
		<div class='row'>
            <div class='col-xs-3 col-sm-3 col-md-3'>
            </div>
            <div class='col-xs-5 col-sm-5 col-md-5'>
        		 <h1 class="text-center poem-heading"> Poems </h1>
            </div>
            <div class='col-xs-4 col-sm-4 col-md-4'>
                <input style="border-style: solid;border-width: 3px;border-color: #FFC107;border-radius: 8px;text-align:center;display:inline;margin:15px;padding:5px;color:#212529;font-family:Nunito;" 
                type="text" id="tagsSearchInput" onkeyup="searchPoem()" placeholder="Search using poem tag(s).." title="Type in a name">
            </div>                 	
        </div>
        <br><br>
		
		<div class="container" style="min-height:100% width:80%">
            	{% with messages = get_flashed_messages() %}
            	  {% if messages %}
            	    {% for message in messages %}
            	    <div class="flash-message">
            		  <div class="alert alert-warning alert-dismissible" role="alert">
            		  <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
            			{{message}}  
            		  </div>
        		   </div>
            		{% endfor %}
            	  {% endif %}
            	{% endwith %}
    	</div>
    	
    	<div class="container" id="poemListContainer" style="min-height:100% width:100%">
    	</div>
    	
	</div>




</body>
</html>