{% extends "header.html" %}

    {% block body %}

        <div role="tabpanel">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin:20px;">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent" style="margin:20px;">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <ul>
                  
                      {% for t in TOPIC_DICT["Home"] %}
                      
                              <li> <a href="{{ t[1] }}"> {{ t[0] }} </a> </li>
                      
                      {% endfor %}
                          
                  </ul>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              
                   <ul>
                  
                      {% for t in TOPIC_DICT["Profile"] %}
                      
                              <li> <a href="{{ t[1] }}"> {{ t[0] }} </a> </li>
                      
                      {% endfor %}
                          
                  </ul>
              
              </div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              
                       <ul>
                  
                      {% for t in TOPIC_DICT["Contact"] %}
                      
                              <li> <a href="{{ t[1] }}"> {{ t[0] }} </a> </li>
                      
                      {% endfor %}
                          
                  </ul>
                  
              </div>
            </div>

        </div>

    {% endblock %}