<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


    <!-- This file is for the ajax call to the backend api and verify if the user was successfully registered or not -->
 <script type="text/javascript" 
 src="{{ url_for('static', filename='js_scripts/client/addNewClientSubmitAjax.js') }}"></script>
 
    <!-- This file is for validating the user input in user registration form -->
  <script type="text/javascript" 
 src="{{ url_for('static', filename='js_scripts/client/addNewClientValidation.js') }}"></script>
 <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
 <link href='https://fonts.googleapis.com/css?family=Baloo:400,700' rel='stylesheet' type='text/css'>
 
 <script type="text/javascript">
    var csrf_token_global = "{{ csrf_token() }}";
    console.log("CSRF TOKEN :"+ csrf_token_global);
    var x = document.cookie;
    console.log("All Cookies :"+ x);
    
    $(document).ready(function(){
        $(' .close').click(function(e){
            $(this).closest('.flash-message').remove();
        });
    });
    
</script>

<style>
    .title-heading{
         color:#FFC107;
         background-color:#212529;
         padding:10px;
         width:35%;
         height:100%;
         margin:auto;
         font-family: Baloo;
         border-radius: 5px;
         border-style: solid;
         border-width: 3px;
         border-color: #212529;
         font-size:30px;
    }
    
    .button-add-client{
        background-color : #FFC107;
        font-family : Baloo;
        color : white;
    }
    
    .button-add-client:hover{
        background-color : #FFA000;
    }
    
    .field-title{
        color : #212529;
        font-family : Baloo;
        padding-top: 5px;
        padding-left : 15px;
        font-size : 20px;
    }
    
</style>

</head>
<body>

	<div class="container">
    <br>
		<h1 class="text-center title-heading"> Add New Client</h1><br>
		
		<div class="container" style="min-height:100% width:80%">
            	{% with messages = get_flashed_messages() %}
            	  {% if messages %}
            	    {% for message in messages %}
            	    <div class="flash-message">
            		  <div class="alert alert-warning alert-dismissible" role="alert">
            		  <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
            			{{message}}  
            		  </div>
        		   </div>
            		{% endfor %}
            	  {% endif %}
            	{% endwith %}
    	</div>
		
		<div class=" col-lg-8 m-auto d-block" style="border-style:solid;border-width:1px;border-color: #212529;border-radius:3px;padding-top:10px;">
			
			<form class="bg-light" action="/admin/addNewClient/" method="post" onsubmit=" return addNewClientFormValidation()">
				
				 <center><p style="color:#212529;font-family:Nunito;"> Fields marked with (*) are compulsory. </p></center>
				
				 <div class='row'>
                            <div class='col-xs-6 col-sm-6 col-md-6'>
                                <div class="form-group">
                					<label class="field-title"> * Client Name: </label>
                					<input style="color:#212529;font-family:Nunito;" type="text" name="title" id="client_name_inp" class="form-control" autocomplete="off">
                					<span style="font-size:12px;" id="client_name_error" class="text-danger font-weight-bold"> </span>
                				</div>
                            </div>
                            <div class='col-xs-6 col-sm-6 col-md-6'>
                                <div class="form-group">
                					<label class="field-title"> * Username: </label>
                					<input style="color:#212529;font-family:Nunito;" type="text" name="tags" id="client_username_inp" class="form-control" autocomplete="off">
                					<span style="font-size:12px;" id="client_username_error" class="text-danger font-weight-bold"> </span>
                				</div>
                            </div>
                </div>                    
                
                 <div class='row'>
                            <div class='col-xs-6 col-sm-6 col-md-6'>
                                <div class="form-group">
                					<label class="field-title"> * Password: </label>
                					<input style="color:#212529;font-family:Nunito;" type="password" name="title" id="client_password_inp" class="form-control" autocomplete="off">
                					<span style="font-size:12px;" id="client_password_error" class="text-danger font-weight-bold"> </span>
                				</div>
                            </div>
                            <div class='col-xs-6 col-sm-6 col-md-6'>
                                <div class="form-group">
                					<label class="field-title"> * Confirm Password: </label>
                					<input style="color:#212529;font-family:Nunito;" type="password" name="tags" id="client_confirmpassword_inp" class="form-control" autocomplete="off">
                					<span style="font-size:12px;" id="client_confirmpassword_error" class="text-danger font-weight-bold"> </span>
                				</div>
                            </div>
                </div>                    
                
                 <div class='row'>
                            <div class='col-xs-6 col-sm-6 col-md-6'>
                                <div class="form-group">
                					<label class="field-title"> * Contact Number 1: </label>
                					<input style="color:#212529;font-family:Nunito;" type="number" name="title" id="client_contactnumber1_inp" class="form-control" autocomplete="off">
                					<span style="font-size:12px;" id="client_contactnumber1_error" class="text-danger font-weight-bold"> </span>
                				</div>
                            </div>
                            <div class='col-xs-6 col-sm-6 col-md-6'>
                                <div class="form-group">
                					<label class="field-title"> Contact Number 2: </label>
                					<input style="color:#212529;font-family:Nunito;" type="number" name="tags" id="client_contactnumber2_inp" class="form-control" autocomplete="off">
                					<span style="font-size:12px;" id="client_contactnumber2_error" class="text-danger font-weight-bold"> </span>
                				</div>
                            </div>
                </div>                    
				
				<div class="form-group">
					<label class="field-title"> Reference: </label>
					<textarea style="padding:20px;color:#212529;font-family:Nunito;" cols='60' rows='4' name="poem" id="client_reference_inp" class="form-control"></textarea>
					<span style="font-size:12px;" id="client_reference_error" class="text-danger font-weight-bold"> </span>
				</div>
				
					<div class="form-group">
					<span id="error_from_server" class="text-danger font-weight-bold"> </span>
					<span id="success_from_server" class="text-success font-weight-bold"> </span>
				</div>
				
				
				<center>
				<input type="submit" name="submit" value="Add Client" class="btn button-add-client">
                </center>
			</form>

        <p> {{message}} </p>
        
        
        
            
		</div>
	</div>


</body>
</html>